@model trobadoo.com.web.Base.BaseModel
@{
    Layout = null;
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/Content/assets/ico/favicon.ico" />
    <title>Trobadoo</title>
    @Html.Raw(Model.PrintCssIncludes())
    @*
    <!-- Custom styles for this template -->
    <!--<link href="navbar-fixed-top.css" rel="stylesheet">-->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
    *@
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    @Html.Partial("PartialViews/Common/Header", Model.HeaderModel)
    <div class="wrap">
        @Html.Partial("PartialViews/Common/NavBar", Model.NavbarModel)

        @RenderBody()
    </div>
    @Html.Partial("PartialViews/Common/Footer", Model.FooterModel)
    @Html.Raw(Model.PrintJsIncludes())
    @*
    <script src="/Content/js/jquery-1.11.1.min.js"></script>
    <script src="/Content/js/jquery.lazyload.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/jquery.diseno.js"></script>
    <script src="/Content/js/owl.carousel.min.js"></script>
    *@
    <script type="text/javascript">
    @Html.Raw(Model.PrintJsInits())
    </script>
</body>
</html>
