@model trobadoo.com.web.Models.Common.HeaderModel
<!-- Cabecera, Fixed navbar -->
<div id="menuPrincipal" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars fa-4x blanco">
                </i>
            </button>
            <a class="navbar-brand" href="/">
                <img id="logoCabecera" src="/Content/images/logo_cabecera.png" alt="Trobadoo" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="linksMenu nav navbar-nav navbar-right">
                @foreach (var menuSection in Model.Sections)
                {
                    <li id="@menuSection.Id" class="@Html.Raw(menuSection.CssClass)"><a href="@menuSection.Url" class="@menuSection.LinkClass">
                        @if (menuSection.ShowIcon)
                        {
                            <span class="menuIcon"><i class="fa @menuSection.IconClass"></i></span>
                        }
                        @Html.Raw(menuSection.Title)
                    </a></li>
                }
                <li data-lang="es" class="@Model.LanguageIconClass("es")"><a href="?lang=es" class="btnIdioma">
                    <img src="/Content/images/flag_es.png" alt="Castellano" /><span>Castellano</span></a> </li>
                <li data-lang="en" class="@Model.LanguageIconClass("en")"><a href="?lang=en" class="btnIdioma">
                    <img src="/Content/images/flag_uk.png" alt="English" /><span>English</span></a> </li>
                @*<li><a href="?lang=de" class="btnIdioma">
                    <img src="/Content/images/flag_de.png" alt="Deutch" /><span>Deutch</span></a> </li>*@
            </ul>
        </div>
    </div>
</div>
