@model trobadoo.com.web.Models.Common.HeaderModel
<!-- header-section-starts -->
<div class="header">
    <div class="wrap">
        <div class="header-bottom">
            <div class="logo">
                <a class="fleft" href="/">
                    <img src="/Content/images/common/logo.jpg" class="img-responsive" alt="" /></a>
            </div>
            <div class="search">
                <div class="search2">
                    <form method="post" action="@Html.Raw(Model.GetTranslation("4"))">
                    <input type="submit" value="">
                    <input id="globalSearch" type="text" placeholder="@Html.Raw(Model.GetTranslation("1"))" />
                    </form>
                </div>
            </div>
            <div class="language-selection">
                <ul>
                    <li data-lang="es" class="@Model.LanguageIconClass("es")">
                        <a href="?lang=es" class="language-button">
                            <img src="/Content/images/common/flag_es.png" alt="Castellano" /><span>@Html.Raw(Model.GetTranslation("2"))</span>
                        </a>
                    </li>
                    <li data-lang="en" class="@Model.LanguageIconClass("en")">
                        <a href="?lang=en" class="language-button">
                            <img src="/Content/images/common/flag_uk.png" alt="English" /><span>@Html.Raw(Model.GetTranslation("3"))</span>
                        </a>
                    </li>
                    @*<li><a href="?lang=de" class="btnIdioma">
                        <img src="/Content/images/common/flag_de.png" alt="Deutch" /><span>Deutch</span></a> 
                      </li>
                    *@
                </ul>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
<!-- header-section-ends -->
