<div class="col-md-6 different-products">
    <ul>
        <li class="first">Tienda </li>
        -
        <li><a href="">Sal&#243;n - Comedor </a></li>
        |
        <li><a href="">Dormitorio </a></li>
        |
        <li><a href="">Cocina </a></li>
        |
        <li><a href="">Deporte </a></li>
        |
        <li><a href="">Luz y Decoraci&#243;n </a></li>
        |
        <li><a href="">Electrodom&#233;sticos </a></li>
        |
        <li><a href="">Oficina </a></li>
        |
        <li><a href="">Multimedia </a></li>
        |
        <li><a href="">Cultura </a></li>
        |
        <li><a href="">Audio - V&#237;deo </a></li>
        |
        <li><a href="">Bricolaje </a></li>
        |
        <li><a href="">Jard&#237;n </a></li>
        |
    </ul>
    <ul>
        <li class="first">Ayuda </li>
        -
        <li><a href="">faqs </a></li>
        |
        <li><a href="">transporte </a></li>
        |
        <li><a href="">pagos </a></li>
        |
        <li><a href="">si tienes algún problema </a></li>
    </ul>
    <ul>
        <li class="first">Mi cuenta
            <li>-
                <li><a href="">login </a></li>
                |
                <li><a href="">registráte </a></li>
                |
                <li><a href="">mi lista de deseos </a></li>
                |
                <li><a href="">mi carrito </a></li>
    </ul>
    <ul>
        <li class="first">Trobadoo </li>
        -
        <li><a href="contact.html">contacta con nosotros </a></li>
        |
        <li><a href="">¿quienes somos? </a></li>
        |
        <!--li><a href=""> careers </a></li> |
				<li><a href=""> blog </a></li> |
				<li><a href=""> press </a></li-->
    </ul>
    <ul>
        <li class="first">Politicas</li>
        -
        <li><a href="">terminos de uso </a></li>
        |
        <li><a href="">seguridad </a></li>
        |
        <li><a href="">política de privacidad</a></li>
    </ul>
</div>
@*
<div id="contListasPie">
    <div class="container clearfix">
        <div class="listasPie">
            <div class="row hidden-xs">
                <div class="listaPie col-xs-6 col-sm-3 col-md-2">
                    <dl class="txtPeque">
                        <dt><span class="txtMedio bold rojo">@Model.GetTranslation("1")</span></dt>
                        <dd>
                            @Model.GetTranslation("2")</dd>
                        <dd>
                            @Model.GetTranslation("3")</dd>
                        <dd>
                            @Model.GetTranslation("4")</dd>
                        <dd>
                            @Model.GetTranslation("5")</dd>
                        <dd>
                            @Model.GetTranslation("6")</dd>
                        <dd>
                            @Model.GetTranslation("7")</dd>
                    </dl>
                </div>
                <div class="listaPie col-xs-6 col-sm-3 col-md-2">
                    <dl class="txtPeque">
                        <dt><span class="txtMedio bold rojo">@Model.GetTranslation("8")</span></dt>
                        <dd>
                            @Model.GetTranslation("9")</dd>
                        <dd>
                            @Model.GetTranslation("10")</dd>
                        <dd>
                            @Model.GetTranslation("11")</dd>
                        <dd>
                            @Model.GetTranslation("12")</dd>
                        <dd>
                            @Model.GetTranslation("13")</dd>
                        <dd>
                            @Model.GetTranslation("14")</dd>
                        <dd>
                            @Model.GetTranslation("15")</dd>
                        <dd>
                            @Model.GetTranslation("7")</dd>
                    </dl>
                </div>
                <div class="listaPie col-xs-6 col-sm-3 col-md-2">
                    <dl class="txtPeque">
                        <dt><span class="txtMedio bold rojo">@Model.GetTranslation("16")</span></dt>
                        <dd>
                            @Model.GetTranslation("17")</dd>
                        <dd>
                            @Model.GetTranslation("18")</dd>
                        <dd>
                            @Model.GetTranslation("19")</dd>
                        <dd>
                            @Model.GetTranslation("7")</dd>
                    </dl>
                </div>
                <div class="listaPie col-xs-6 col-sm-3 col-md-2">
                    <dl class="txtPeque">
                        <dt><span class="txtMedio bold rojo">@Model.GetTranslation("20")</span></dt>
                        <dd>
                            @Model.GetTranslation("21")</dd>
                        <dd>
                            @Model.GetTranslation("22")</dd>
                        <dd>
                            @Model.GetTranslation("23")</dd>
                        <dd>
                            @Model.GetTranslation("24")</dd>
                        <dd>
                            @Model.GetTranslation("7")</dd>
                    </dl>
                </div>
                <div class="listaPie col-xs-6 col-sm-3 col-md-2">
                    <dl class="txtPeque">
                        <dt><span class="txtMedio bold rojo">@Model.GetTranslation("25")</span></dt>
                        <dd>
                            @Model.GetTranslation("26")</dd>
                        <dd>
                            @Model.GetTranslation("27")</dd>
                        <dd>
                            @Model.GetTranslation("28")</dd>
                        <dd>
                            @Model.GetTranslation("29")</dd>
                        <dd>
                            @Model.GetTranslation("30")</dd>
                        <dd>
                            @Model.GetTranslation("7")</dd>
                    </dl>
                </div>
                <div class="listaPie col-xs-6 col-sm-3 col-md-2">
                    <dl class="txtPeque">
                        <dt><span class="txtMedio bold rojo">@Model.GetTranslation("31")</span></dt>
                        <dd>
                            @Model.GetTranslation("32")</dd>
                        <dd>
                            @Model.GetTranslation("33")</dd>
                        <dd>
                            @Model.GetTranslation("34")</dd>
                        <dd>
                            @Model.GetTranslation("35")</dd>
                        <dd>
                            @Model.GetTranslation("36")</dd>
                        <dd>
                            @Model.GetTranslation("37")</dd>
                        <dd>
                            @Model.GetTranslation("38")</dd>
                        <dd>
                            @Model.GetTranslation("39")</dd>
                        <dd>
                            @Model.GetTranslation("7")</dd>
                    </dl>
                </div>
                <div class="listaPie col-xs-6 col-sm-3 col-md-2">
                    <dl class="txtPeque">
                        <dt><span class="txtMedio bold rojo">@Model.GetTranslation("40")</span></dt>
                        <dd>
                            @Model.GetTranslation("41")</dd>
                        <dd>
                            @Model.GetTranslation("42")</dd>
                        <dd>
                            @Model.GetTranslation("43")</dd>
                        <dd>
                            @Model.GetTranslation("7")</dd>
                    </dl>
                </div>
                <div class="listaPie col-xs-6 col-sm-3 col-md-2">
                    <dl class="txtPeque">
                        <dt><span class="txtMedio bold rojo">@Model.GetTranslation("44")</span></dt>
                        <dd>
                            @Model.GetTranslation("45")</dd>
                        <dd>
                            @Model.GetTranslation("46")</dd>
                        <dd>
                            @Model.GetTranslation("47")</dd>
                        <dd>
                            @Model.GetTranslation("48")</dd>
                        <dd>
                            @Model.GetTranslation("7")</dd>
                    </dl>
                </div>
                <div class="listaPie col-xs-6 col-sm-3 col-md-2">
                    <dl class="txtPeque">
                        <dt><span class="txtMedio bold rojo">@Model.GetTranslation("49")</span></dt>
                        <dd>
                            @Model.GetTranslation("50")</dd>
                        <dd>
                            @Model.GetTranslation("51")</dd>
                        <dd>
                            @Model.GetTranslation("52")</dd>
                        <dd>
                            @Model.GetTranslation("53")</dd>
                        <dd>
                            @Model.GetTranslation("54")</dd>
                        <dd>
                            @Model.GetTranslation("7")</dd>
                    </dl>
                </div>
                <div class="listaPie col-xs-6 col-sm-3 col-md-2">
                    <dl class="txtPeque">
                        <dt><span class="txtMedio bold rojo">@Model.GetTranslation("55")</span></dt>
                        <dd>
                            @Model.GetTranslation("56")</dd>
                        <dd>
                            @Model.GetTranslation("57")</dd>
                        <dd>
                            @Model.GetTranslation("58")</dd>
                        <dd>
                            @Model.GetTranslation("7")</dd>
                    </dl>
                </div>
                <div class="listaPie col-xs-6 col-sm-3 col-md-2">
                    <dl class="txtPeque">
                        <dt><span class="txtMedio bold rojo">@Model.GetTranslation("59")</span></dt>
                        <dd>
                            @Model.GetTranslation("60")</dd>
                        <dd>
                            @Model.GetTranslation("61")</dd>
                        <dd>
                            @Model.GetTranslation("62")</dd>
                        <dd>
                            @Model.GetTranslation("63")</dd>
                        <dd>
                            @Model.GetTranslation("7")</dd>
                    </dl>
                </div>
                <div class="listaPie col-xs-6 col-sm-3 col-md-2">
                    <dl class="txtPeque">
                        <dt><span class="txtMedio bold rojo">@Model.GetTranslation("64")</span></dt>
                        <dd>
                            @Model.GetTranslation("65")</dd>
                        <dd>
                            @Model.GetTranslation("62")</dd>
                        <dd>
                            @Model.GetTranslation("66")</dd>
                        <dd>
                            @Model.GetTranslation("67")</dd>
                        <dd>
                            @Model.GetTranslation("68")</dd>
                        <dd>
                            @Model.GetTranslation("69")</dd>
                        <dd>
                            @Model.GetTranslation("70")</dd>
                        <dd>
                            @Model.GetTranslation("7")</dd>
                    </dl>
                </div>
            </div>
            <div class="visible-xs txtMedio bold rojo text-center">
                @Model.GetTranslation("1") <span class="separador">|</span> @Model.GetTranslation("8")
                <span class="separador">|</span> @Model.GetTranslation("16") <span class="separador">
                    |</span> @Model.GetTranslation("20") <span class="separador">|</span>
                @Model.GetTranslation("25") <span class="separador">|</span> @Model.GetTranslation("31")
                <span class="separador">|</span> @Model.GetTranslation("40") <span class="separador">
                    |</span> @Model.GetTranslation("44") <span class="separador">|</span> @Model.GetTranslation("49")
                <span class="separador">|</span> @Model.GetTranslation("55") <span class="separador">
                    | </span> @Model.GetTranslation("59") <span class="separador">|</span> @Model.GetTranslation("64")
            </div>
        </div>
    </div>
</div>
*@ 